### Project 3 IMDB Part 4 - get more data
- Paula Pipkin

In [1]:
import pandas as pd
import os, time,json
import matplotlib.pyplot as plt
import seaborn as sns

import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook

In [3]:
FOLDER = "big_data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json']

In [4]:
def get_movies_cert(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
           info['certification'] = c['certification']
    return info

In [5]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [6]:
with open('/Users/paula/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
tmdb.API_KEY =  login['api-key']

In [7]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,126,Drama

In [8]:
# I will use the last 10 completed years, so 2012 - 2021 
YEARS_TO_GET = [*range(2012, 2022, 1)]
errors = [ ]

In [9]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
        #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movies_cert(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/3 [00:00<?, ?it/s]

Movies from 2019:   0%|          | 0/4721 [00:00<?, ?it/s]

Movies from 2020:   0%|          | 0/4868 [00:00<?, ?it/s]

Movies from 2021:   0%|          | 0/4841 [00:00<?, ?it/s]

- Total errors: 3153

Concatenate dfs and organize data

In [2]:
#from https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

from pathlib import Path

path =  'big_data/' 

# Get the files from the path provided in the OP
files = Path(path).glob('*.csv.gz')

In [3]:
dfs = list()
for f in files:
    data = pd.read_csv(f)
    # .stem is method for pathlib objects to get the filename w/o the extension
    data['file'] = f.stem
    dfs.append(data)

dfs

[        imdb_id  adult                     backdrop_path  \
 0             0    NaN                               NaN
 1     tt0249516    0.0  /t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg
 2     tt0285252    0.0  /pKOHinAVIkyqLliMaTHCSL1T4zU.jpg
 3     tt0293069    0.0  /cj2isIuskSePAwpb2D6yUBZrhkJ.jpg
 4     tt0337692    0.0  /5dUOTVeNPU2CmEfFniQ8TE6HChG.jpg
 ...         ...    ...                               ...
 3209  tt7547032    0.0                               NaN
 3210  tt7867026    0.0  /4H3gxcDyFbyD3syAHcfGfu42zJ4.jpg
 3211  tt8675644    0.0  /bkPwmPPVxSaT4lUztUOccHgWFi2.jpg
 3212  tt8698020    0.0                               NaN
 3213  tt9033128    0.0                               NaN

                                   belongs_to_collection      budget  \
 0                                                   NaN         NaN
 1                                                   NaN  65000000.0
 2                                                   NaN   4000000.0
 3                                                   NaN         0.0
 4                                                   NaN  25000000.0
 ...                                                 ...         ...
 3209                                                NaN         0.0
 3210  {'id': 610471, 'name': 'Bloodbath at Pinky Hig...         0.0
 3211                                                NaN         0.0
 3212                                                NaN         0.0
 3213                                                NaN         0.0

                                                  genres  \
 0                                                   NaN
 1     [{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...
 2                        [{'id': 35, 'name': 'Comedy'}]
 3                      [{'id': 53, 'name': 'Thriller'}]
 4     [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...
 ...                                                 ...
 3209                                                 []
 3210  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
 3211                 [{'id': 10749, 'name': 'Romance'}]
 3212  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 3213                                                 []

                                                homepage        id  \
 0                                                   NaN       NaN
 1     http://www.thresholdanimationstudios.com/video...  116977.0
 2                                                   NaN  112074.0
 3                                                   NaN  136884.0
 4            http://www.ontheroad-themovie.com/?lang=en   83770.0
 ...                                                 ...       ...
 3209                                                NaN  919499.0
 3210                                                NaN  259678.0
 3211                                                NaN  355037.0
 3212                                                NaN  155776.0
 3213                                                NaN  152428.0

      original_language          original_title  ... runtime  \
 0                  NaN                     NaN  ...     NaN
 1                   en              Foodfight!  ...    87.0
 2                   pl          Life's a Beach  ...   100.0
 3                   en              Dark Blood  ...    86.0
 4                   en             On the Road  ...   137.0
 ...                ...                     ...  ...     ...
 3209                zh                     我和你  ...     0.0
 3210                ja                女子高生暴力教室  ...    70.0
 3211                ko         전망 좋은 해변 - 두 여자  ...    70.0
 3212                en       Heroes and Demons  ...    93.0
 3213                de  Dostavit' ljuboj cenoj  ...     0.0

                                        spoken_languages    status  \
 0                                                   NaN       NaN
 1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 4     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 ...                                                 ...       ...
 3209                                                 []  Released
 3210  [{'english_name': 'Japanese', 'iso_639_1': 'ja...  Released
 3211  [{'english_name': 'Korean', 'iso_639_1': 'ko',...  Released
 3212  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3213  [{'english_name': 'Russian', 'iso_639_1': 'ru'...  Released

                                   tagline                            title  \
 0                                     NaN                              NaN
 1                                     NaN                       Foodfight!
 2                                     NaN                   Life's a Beach
 3                                     NaN                       Dark Blood
 4         The best teacher is experience.                      On the Road
 ...                                   ...                              ...
 3209                                  NaN                              我和你
 3210                                  NaN   Bloodbath at Pinky High Part 1
 3211                                  NaN  A Beach With A View - Two Women
 3212  Our last hope, our greatest threat.                Heroes and Demons
 3213                                  NaN           Dostavit' ljuboj cenoj

      video  vote_average  vote_count certification                      file
 0      NaN           NaN         NaN           NaN  final_tmdb_data_2012.csv
 1      0.0         1.856       108.0         PG-13  final_tmdb_data_2012.csv
 2      0.0         2.500         5.0             R  final_tmdb_data_2012.csv
 3      0.0         6.100        17.0           NaN  final_tmdb_data_2012.csv
 4      0.0         5.604       734.0             R  final_tmdb_data_2012.csv
 ...    ...           ...         ...           ...                       ...
 3209   0.0         0.000         0.0           NaN  final_tmdb_data_2012.csv
 3210   0.0         4.500         4.0           NaN  final_tmdb_data_2012.csv
 3211   0.0         0.000         0.0           NaN  final_tmdb_data_2012.csv
 3212   0.0         7.200        12.0           NaN  final_tmdb_data_2012.csv
 3213   0.0         5.000         1.0           NaN  final_tmdb_data_2012.csv

 [3214 rows x 27 columns],
         imdb_id  adult                     backdrop_path  \
 0             0    NaN                               NaN
 1     tt0255820    0.0                               NaN
 2     tt0359950    0.0  /v52aVrsuWPxbRXC1wb5plWDJ9UW.jpg
 3     tt0409379    0.0  /56NwJuplsUl9WIZfF0h1QH0wsJ1.jpg
 4     tt0452183    0.0                               NaN
 ...         ...    ...                               ...
 3448  tt8159944    0.0                               NaN
 3449  tt8653804    0.0                               NaN
 3450  tt8728782    0.0                               NaN
 3451  tt9278070    0.0  /fSecWWA6IPcfXNgv7Xi6sP2VRQr.jpg
 3452  tt9546080    0.0                               NaN

      belongs_to_collection      budget  \
 0                      NaN         NaN
 1                      NaN   2000000.0
 2                      NaN  90000000.0
 3                      NaN         0.0
 4                      NaN         0.0
 ...                    ...         ...
 3448                   NaN         0.0
 3449                   NaN         0.0
 3450                   NaN         0.0
 3451                   NaN         0.0
 3452                   NaN         0.0

                                                  genres  \
 0                                                   NaN
 1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 2     [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
 3     [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
 4                        [{'id': 35, 'name': 'Comedy'}]
 ...                                                 ...
 3448                                                 []
 3449                     [{'id': 27, 'name': 'Horror'}]
 3450                                                 []
 3451                [{'id': 99, 'name': 'Documentary'}]
 3452  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...

                                                homepage        id  \
 0                                                   NaN       NaN
 1                                                   NaN  323498.0
 2     https://www.20thcenturystudios.com/movies/the-...  116745.0
 3                             http://insecretmovie.com/  172226.0
 4                                                   NaN  439174.0
 ...                                                 ...       ...
 3448                                                NaN  713422.0
 3449                                                NaN  985060.0
 3450                                                NaN  613829.0
 3451                                                NaN  312177.0
 3452                                                NaN  263539.0

      original_language                          original_title  ... runtime  \
 0                  NaN                                     NaN  ...     NaN
 1                   en                       Return to Babylon  ...    75.0
 2                   en         The Secret Life of Walter Mitty  ...   114.0
 3                   en                               In Secret  ...   101.0
 4                   en                             Blunt Movie  ...    83.0
 ...                ...                                     ...  ...     ...
 3448                en         Paranormal Investigation Agency  ...    69.0
 3449                en                                Tumors 2  ...    70.0
 3450                fr                 Le miroir et l'échafaud  ...    71.0
 3451                en  The Nativity: The Life of Jesus Christ  ...    92.0
 3452                en                              Crazy Love  ...    90.0

                                        spoken_languages    status  \
 0                                                   NaN       NaN
 1                                                    []  Released
 2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 4     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 ...                                                 ...       ...
 3448                                                 []  Released
 3449                                                 []  Released
 3450                                                 []  Released
 3451  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3452  [{'english_name': 'Indonesian', 'iso_639_1': '...  Released

                                                 tagline  \
 0                                                   NaN
 1                                                   NaN
 2                           Stop Dreaming, Start Living
 3                                                   NaN
 4     From the creators of ABSOLUTELY NOTHING before...
 ...                                                 ...
 3448                                                NaN
 3449                                                NaN
 3450                                                NaN
 3451                                                NaN
 3452      Drama, Romance, First Love, High School Lover

                                        title video  vote_average  vote_count  \
 0                                        NaN   NaN           NaN         NaN
 1                          Return to Babylon   0.0         6.000        22.0
 2            The Secret Life of Walter Mitty   0.0         7.155      6664.0
 3                                  In Secret   0.0         6.232       170.0
 4                                Blunt Movie   0.0         3.700         3.0
 ...                                      ...   ...           ...         ...
 3448         Paranormal Investigation Agency   0.0         0.000         0.0
 3449                                Tumors 2   0.0         0.000         0.0
 3450             The Mirror and the Scaffold   0.0         0.000         0.0
 3451  The Nativity: The Life of Jesus Christ   0.0         0.000         0.0
 3452                              Crazy Love   0.0         6.000         1.0

      certification                      file
 0              NaN  final_tmdb_data_2013.csv
 1              NaN  final_tmdb_data_2013.csv
 2               PG  final_tmdb_data_2013.csv
 3                R  final_tmdb_data_2013.csv
 4                R  final_tmdb_data_2013.csv
 ...            ...                       ...
 3448           NaN  final_tmdb_data_2013.csv
 3449           NaN  final_tmdb_data_2013.csv
 3450           NaN  final_tmdb_data_2013.csv
 3451            PG  final_tmdb_data_2013.csv
 3452           NaN  final_tmdb_data_2013.csv

 [3453 rows x 27 columns],
         imdb_id  adult                     backdrop_path  \
 0             0    NaN                               NaN
 1     tt0329539    0.0                               NaN
 2     tt0365907    0.0  /isrro0soStk2tSWMsI50lPPhUsU.jpg
 3     tt0403935    0.0  /romORaZvZqMRjTPgw0HrAZpVn9V.jpg
 4     tt0424859    0.0                               NaN
 ...         ...    ...                               ...
 3649  tt8942834    0.0  /wO9o7sdDuufc4fE2pL83aeMgpdT.jpg
 3650  tt9085782    0.0                               NaN
 3651  tt9208638    0.0                               NaN
 3652  tt9287460    0.0                               NaN
 3653  tt9387330    0.0  /e62gV9Y4JkJyjedAw9UVBZBbSH5.jpg

      belongs_to_collection      budget  \
 0                      NaN         NaN
 1                      NaN         0.0
 2                      NaN  28000000.0
 3                      NaN         0.0
 4                      NaN         0.0
 ...                    ...         ...
 3649                   NaN         0.0
 3650                   NaN         0.0
 3651                   NaN       500.0
 3652                   NaN         0.0
 3653                   NaN         0.0

                                                  genres  \
 0                                                   NaN
 1                        [{'id': 35, 'name': 'Comedy'}]
 2     [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
 3     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
 4                                                    []
 ...                                                 ...
 3649                   [{'id': 10402, 'name': 'Music'}]
 3650  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
 3651                     [{'id': 27, 'name': 'Horror'}]
 3652  [{'id': 10751, 'name': 'Family'}, {'id': 12, '...
 3653  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...

                                                homepage        id  \
 0                                                   NaN       NaN
 1                                                   NaN  274341.0
 2                                                   NaN  169917.0
 3                                                   NaN  308165.0
 4                                                   NaN  285294.0
 ...                                                 ...       ...
 3649                                                NaN  345474.0
 3650                                                NaN  668763.0
 3651  https://midnightreleasing.com/filmcatalog/carn...  782140.0
 3652                                                NaN  415457.0
 3653                                                NaN  465566.0

      original_language               original_title  ... runtime  \
 0                  NaN                          NaN  ...     NaN
 1                   en                    Rice Girl  ...    95.0
 2                   en  A Walk Among the Tombstones  ...   114.0
 3                   hi                  एक्शन जैकसन  ...   144.0
 4                   en              The Ninth Cloud  ...    93.0
 ...                ...                          ...  ...     ...
 3649                en     Above & Beyond: Acoustic  ...    82.0
 3650                kn                        Power  ...   173.0
 3651                en          Carnivale Creepshow  ...    74.0
 3652                en          Max Saves the World  ...    88.0
 3653                zh                      你是男的我也爱  ...    98.0

                                        spoken_languages    status  \
 0                                                   NaN       NaN
 1     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 2     [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3     [{'english_name': 'Hindi', 'iso_639_1': 'hi', ...  Released
 4                                                    []  Released
 ...                                                 ...       ...
 3649  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3650  [{'english_name': 'Kannada', 'iso_639_1': 'kn'...  Released
 3651  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3652  [{'english_name': 'English', 'iso_639_1': 'en'...  Released
 3653  [{'english_name': 'Mandarin', 'iso_639_1': 'zh...  Released

                                                 tagline  \
 0                                                   NaN
 1     «For Windy Yee, a big break in Hollywood can m...
 2        Some people are afraid of all the wrong things
 3     Naa Commitment, Naa Appointment, Only Punishment!
 4                         Even Reality can't stop Zena.
 ...                                                 ...
 3649                                                NaN
 3650                                                NaN
 3651        Come on in...to where the nightmares begin!
 3652                                                NaN
 3653                                                NaN

                             title video  vote_average  vote_count  \
 0                             NaN   NaN           NaN         NaN
 1                       Rice Girl   0.0         1.000         2.0
 2     A Walk Among the Tombstones   0.0         6.300      2448.0
 3                  Action Jackson   0.0         4.333        24.0
 4                 The Ninth Cloud   0.0         4.000         1.0
 ...                           ...   ...           ...         ...
 3649     Above & Beyond: Acoustic   1.0        10.000         1.0
 3650                        Power   0.0         5.000         2.0
 3651          Carnivale Creepshow   0.0         2.000         1.0
 3652          Max Saves the World   0.0         0.000         0.0
 3653                    Like Love   0.0         7.000         1.0

      certification                      file
 0              NaN  final_tmdb_data_2014.csv
 1              NaN  final_tmdb_data_2014.csv
 2                R  final_tmdb_data_2014.csv
 3              NaN  final_tmdb_data_2014.csv
 4              NaN  final_tmdb_data_2014.csv
 ...            ...                       ...
 3649           NaN  final_tmdb_data_2014.csv
 3650           NaN  final_tmdb_data_2014.csv
 3651           NaN  final_tmdb_data_2014.csv
 3652           NaN  final_tmdb_data_2014.csv
 3653           NaN  final_tmdb_data_2014.csv

 [3654 rows x 27 columns],
         imdb_id  adult                     backdrop_path  \
 0             0    NaN                               NaN
 1     tt0191476    0.0                               NaN
 2     tt0369610    0.0  /dF6FjTZzRTENfB4R17HDN20jLT2.jpg
 3     tt0420293    0.0  /b0p0OPx1ZDZVc8iDB1kle0Cc2H9.jpg
 4     tt0462335    0.0  /wESuRMxELPAwo56qFRcoyI4p20F.jpg
 ...         ...    ...                               ...
 3713  tt9146210    0.0                               NaN
 3714  tt9164964    0.0                               NaN

In [4]:
df = pd.concat(dfs, ignore_index=True)
df.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification,file
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,final_tmdb_data_2012.csv
1,tt0249516,0.0,/t7zb6CnRQwhzQSq0apR4ESFYiWN.jpg,NaN,65000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.thresholdanimationstudios.com/video...,116977.0,en,Foodfight!,...,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Foodfight!,0.0,1.856,108.0,PG-13,final_tmdb_data_2012.csv
2,tt0285252,0.0,/pKOHinAVIkyqLliMaTHCSL1T4zU.jpg,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,112074.0,pl,Life's a Beach,...,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Life's a Beach,0.0,2.500,5.0,R,final_tmdb_data_2012.csv

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39156 entries, 0 to 39155
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                39156 non-null  object
 1   adult                  39146 non-null  float64
 2   backdrop_path          26759 non-null  object
 3   belongs_to_collection  2318 non-null   object
 4   budget                 39146 non-null  float64
 5   genres                 39146 non-null  object
 6   homepage               10512 non-null  object
 7   id                     39146 non-null  float64
 8   original_language      39146 non-null  object
 9   original_title         39146 non-null  object
 10  overview               38353 non-null  object
 11  popularity             39146 non-null  float64
 12  poster_path            36751 non-null  object
 13  production_companies   39146 non-null  object
 14  production_countries   39146 non-null  object
 15  release_date           38499 non-null  object
 16  revenue                39146 non-null  float64
 17  runtime                39146 non-null  float64
 18  spoken_languages       39146 non-null  object
 19  status                 39146 non-null  object
 20  tagline                13963 non-null  object
 21  title                  39146 non-null  object
 22  video                  39146 non-null  float64
 23  vote_average           39146 non-null  float64
 24  vote_count             39146 non-null  float64
 25  certification          8190 non-null   object
 26  file                   39156 non-null  object
dtypes: float64(9), object(18)
memory usage: 8.1+ MB

In [6]:
#adding files from 2012 to 2022
final_df = df[['imdb_id','budget', 'revenue', 'certification', 'runtime','genres']]
final_df.head()

,imdb_id,budget,revenue,certification,runtime,genres
0,0,NaN,NaN,NaN,NaN,NaN
1,tt0249516,65000000.0,73706.0,PG-13,87.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam..."
2,tt0285252,4000000.0,0.0,R,100.0,"[{'id': 35, 'name': 'Comedy'}]"
3,tt0293069,0.0,0.0,NaN,86.0,"[{'id': 53, 'name': 'Thriller'}]"
4,tt0337692,25000000.0,8784318.0,R,137.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '..."

In [7]:
final_df.shape

(39156, 6)

In [8]:
final_df.to_csv('big_data/combined_years.csv.gz', compression="gzip", index=False)