 #### Project 3 - Part 2
 
 - Paula Pipkin

In [1]:
import pandas as pd
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook

In [2]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [3]:
def get_info(movie_id, data):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    movie_info = movie.info()
    fetch = {'imdb_id':movie_id, 'info':movie_info[data]}
            
    return fetch

In [4]:
#get credentials

with open('/Users/paula/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
tmdb.API_KEY =  login['api-key']

### Part 2: Use an API to extract box office revenue and profit data to add to your IMDB data and perform exploratory data analysis.

- Checking How ID appears in our table

In [5]:
df_basics = pd.read_csv('data/title_basics.csv.gz')
df_basics.columns.values

array(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'runtimeMinutes', 'genres'], dtype=object)

In [6]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,126,Drama

In [7]:
ids = df_basics['tconst'].values
partial = ids[0:300]
partial

array(['tt0035423', 'tt0062336', 'tt0069049', 'tt0088751', 'tt0096056',
       'tt0100275', 'tt0108549', 'tt0113026', 'tt0113092', 'tt0114447',
       'tt0115937', 'tt0116391', 'tt0116628', 'tt0116991', 'tt0117743',
       'tt0118141', 'tt0118589', 'tt0118652', 'tt0118694', 'tt0118710',
       'tt0118852', 'tt0118926', 'tt0119004', 'tt0119231', 'tt0119273',
       'tt0119495', 'tt0119806', 'tt0119966', 'tt0119970', 'tt0119980',
       'tt0120166', 'tt0120202', 'tt0120263', 'tt0120467', 'tt0120589',
       'tt0120607', 'tt0120624', 'tt0120626', 'tt0120630', 'tt0120667',
       'tt0120679', 'tt0120681', 'tt0120698', 'tt0120733', 'tt0120737',
       'tt0120753', 'tt0120755', 'tt0120804', 'tt0120807', 'tt0120824',
       'tt0120903', 'tt0120912', 'tt0120913', 'tt0120917', 'tt0121164',
       'tt0121765', 'tt0121766', 'tt0122161', 'tt0122247', 'tt0122459',
       'tt0123003', 'tt0123055', 'tt0123581', 'tt0124889', 'tt0125022',
       'tt0126029', 'tt0126899', 'tt0127349', 'tt0128158', 'tt0128165',
       'tt0128216', 'tt0130623', 'tt0131597', 'tt0131704', 'tt0132078',
       'tt0132245', 'tt0132885', 'tt0132910', 'tt0133063', 'tt0133152',
       'tt0133240', 'tt0133752', 'tt0134084', 'tt0134630', 'tt0134847',
       'tt0134983', 'tt0135707', 'tt0135991', 'tt0136517', 'tt0137204',
       'tt0137698', 'tt0138288', 'tt0138353', 'tt0138524', 'tt0138749',
       'tt0138818', 'tt0138927', 'tt0138946', 'tt0139159', 'tt0139297',
       'tt0139388', 'tt0139500', 'tt0139654', 'tt0140806', 'tt0141120',
       'tt0141907', 'tt0141926', 'tt0142634', 'tt0142650', 'tt0143344',
       'tt0143558', 'tt0144084', 'tt0144142', 'tt0144280', 'tt0144528',
       'tt0144574', 'tt0144608', 'tt0144964', 'tt0145487', 'tt0146063',
       'tt0146272', 'tt0146309', 'tt0146316', 'tt0146803', 'tt0146882',
       'tt0146984', 'tt0147447', 'tt0147486', 'tt0148120', 'tt0148415',
       'tt0148421', 'tt0149253', 'tt0149367', 'tt0149624', 'tt0150021',
       'tt0151150', 'tt0151299', 'tt0151309', 'tt0151685', 'tt0152083',
       'tt0152772', 'tt0153012', 'tt0153100', 'tt0153464', 'tt0153516',
       'tt0153517', 'tt0153533', 'tt0154187', 'tt0155150', 'tt0155723',
       'tt0155754', 'tt0156020', 'tt0156100', 'tt0156323', 'tt0156376',
       'tt0156741', 'tt0156757', 'tt0156807', 'tt0156812', 'tt0156841',
       'tt0156942', 'tt0157007', 'tt0157122', 'tt0157191', 'tt0157202',
       'tt0157262', 'tt0157472', 'tt0157583', 'tt0157836', 'tt0158033',
       'tt0158622', 'tt0159273', 'tt0159290', 'tt0159291', 'tt0159365',
       'tt0159371', 'tt0159378', 'tt0159396', 'tt0159784', 'tt0160009',
       'tt0160127', 'tt0160182', 'tt0160184', 'tt0160239', 'tt0160240',
       'tt0160256', 'tt0160261', 'tt0160270', 'tt0160275', 'tt0160289',
       'tt0160399', 'tt0160403', 'tt0160425', 'tt0160434', 'tt0160447',
       'tt0160480', 'tt0160484', 'tt0160495', 'tt0160547', 'tt0160611',
       'tt0160616', 'tt0160644', 'tt0160652', 'tt0160663', 'tt0160706',
       'tt0160710', 'tt0160749', 'tt0160751', 'tt0160759', 'tt0160797',
       'tt0160859', 'tt0160870', 'tt0160905', 'tt0161003', 'tt0161081',
       'tt0161083', 'tt0161088', 'tt0161216', 'tt0161860', 'tt0162030',
       'tt0162203', 'tt0162222', 'tt0162346', 'tt0162650', 'tt0162711',
       'tt0162838', 'tt0162983', 'tt0163025', 'tt0163080', 'tt0163125',
       'tt0163246', 'tt0163596', 'tt0163676', 'tt0163745', 'tt0163764',
       'tt0163978', 'tt0163983', 'tt0164003', 'tt0164052', 'tt0164182',
       'tt0164184', 'tt0164192', 'tt0164212', 'tt0164318', 'tt0164334',
       'tt0164545', 'tt0164810', 'tt0164953', 'tt0164961', 'tt0165361',
       'tt0165400', 'tt0165452', 'tt0165642', 'tt0165713', 'tt0165800',
       'tt0165832', 'tt0165928', 'tt0165929', 'tt0165982', 'tt0166013',
       'tt0166110', 'tt0166158', 'tt0166186', 'tt0166192', 'tt0166276',
       'tt0166339', 'tt0166370', 'tt0166813', 'tt0166924', 'tt0167116',
       'tt0167183', 'tt0167190', 'tt0167203', 'tt0167260', 'tt0167261',
       'tt0167360', 'tt0167367', 'tt0167456', 'tt0168446', 'tt0168504',
       'tt0168509', 'tt0168578', 'tt0168612', 'tt0168629', 'tt0168631',
       'tt0168714', 'tt0168786', 'tt0168856', 'tt0169102', 'tt0169122',
       'tt0169324', 'tt0169543', 'tt0169579', 'tt0170008', 'tt0170016',
       'tt0170367', 'tt0170452', 'tt0170508', 'tt0170691', 'tt0171339'],
      dtype=object)

In [ ]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

info_TO_GET = ['budget','revenue']
errors = [ ]

# Start of OUTER loop
for info in tqdm_notebook(info_TO_GET, desc='info', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{info}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
        # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0,'info':0 }],f)
    # saving movie ids to list
    movie_ids = df_basics['tconst'].copy()
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
        #Get index and movie id from list # partial
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies {info}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_info(movie_id,info)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
    final_info_df = pd.read_json(JSON_FILE)
    final_info_df.to_csv(f"{FOLDER}final_tmdb_data_{info}.csv.gz", compression="gzip", index=False)

print(f"- Total errors: {len(errors)}")

info:   0%|          | 0/2 [00:00<?, ?it/s]

Movies budget:   0%|          | 0/82476 [00:00<?, ?it/s]

In [ ]:
df_budget = pd.read_csv('data/final_tmdb_data_budget.csv.gz')
df_budget.head()